*{
  padding: 10px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body-create-turma{
  background-color: rgb(0, 191, 255);
}

.title{
  font-size: 40px; 
  font-weight: 100px;
  color: rgb(255,255,255);
}
.container{
  background-color: white;
  margin-top: 20px;
  text-align: center;
  position:relative;
  width: 500px;
  height: 400px;
  max-height: 700px;
  margin: 50px auto;
}

h1{
  padding: 10px;
  color:rgb(105,105,105);
  font-size: 25px;
}

.content-wraper{
  position:relative;
  width: 500px;
  height: 300px;
  max-height: 600px;
}

input{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
  font-size: 14px;
  color: rgb(105,105,105);
}

.turma-descricao input{
  height: 100px;
  max-height: 150px;
  padding-bottom: 10px;
}

.btn-cancel-turma{
  position: relative;
  font-weight: bolder;
  border-style: none;
  border-radius: 3px;
  color: rgb(0,139,139);
  font-size: 15px;
  background: none;
}
.btn-cancel-turma:active{
  color: rgb(255,255,255);
  background-color:rgb(0,139,139);
}

.btn-create-turma{
  padding: 10px;
  font-weight: bolder;
  margin-left: 260px;
  margin-top: -30px;
  
  border-style: none;
  background-color: rgb(32,178,170);
  border-radius: 3px;
  color:rgb(255,255,255);
  font-size: 15px;
}

.btn-logar:active{
  background-color:rgb(0,139,139);
}