*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body{
    background-image: url("../../images/background.png");
  }
  
  .title{
    font-family: "Stay Home";
    font-size: 50px;
    color: rgb(255,255,255);
  }

  .register{
    width: 500px;
    height: 500px;
    max-height: 600px;
    margin: 50px auto;
  
    border: 0 none;
      border-radius: 3px;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(255,255,255);
  }
  
  .content-wra{
    position:relative;
    width: 500px;
    height: 400px;
  
    text-align: center;  
  }
  
  h1{
    padding: 30px;
    color:rgb(105,105,105);
  }
  
  h3{
    color:rgb(105,105,105);
    padding-bottom: 20px;
  }
  
  .form-group input{
    padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 70%;
      font-size: 14px;
    color: rgb(105,105,105);
  }

  .form-group-password input{
      margin: 10px;
      justify-content: space-between;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 30%;
      font-size: 14px;
    color: rgb(105,105,105);
  }
  
  .viewpass{
    position: relative;
    text-align: justify;
    padding: 10px;
    margin-left: 68px;
    font-size: 12px;
    color: rgb(105,105,105);
  }
  
  .create-cont{
    position: relative;
    text-align: justify;
    margin-left: 68px; 
    padding-top:20px;
    height: 20px;
  }
  .create-cont a{
    text-decoration: none;
    color:rgb(32,178,170);
    font-weight: bolder;
    padding: 10px;
    border-radius: 3px;
  }
  
  .create-cont a:active{ 
    background-color: rgb(176,196,222);
    color:rgb(255,255,255)
  }
  
  .btn-logar{
    float: right;
    padding: 10px;
    font-weight: bolder;
    margin-right: 75px;
    margin-top: -30px;
    
    border-style: none;
    background-color: rgb(32,178,170);
    border-radius: 3px;
    color:rgb(255,255,255);
    font-size: 15px;
  }
  
  .btn-logar:active{
    background-color:rgb(0,139,139);
  }