*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  body {
    margin: 0;
    background-color: rgb(0, 191, 255);
  } 
  
  
  
  .menu-suspenso-notas-part2 {
    background: white;
    position: relative;
    width: 100%;
    height: 85px;
    max-height: 85px;
    min-height: 85px;
    z-index: 1;
  }
  
  .menu-suspenso-notas-part2 .part1-notas-part2{
    position: relative;
    padding: 20px;
    width: 80px;
    height: 20px;
    left: 35px;
    top: 10px;
    border-radius: 50px;
    border: solid 1px rgba(105,105,105,0.4);
  }
  .menu-suspenso-notas-part2 .turmas-menu-notas-part2 {
    position: relative;
    text-decoration: none;
    color: rgb(128,128,128);
    font-size: 16px;
    justify-items: center;
    font-weight: bolder;
  
  }
  
  .menu-suspenso-notas-part2 .list-names-center-notas-part2 {
    position: relative;
    height: 4rem;
    justify-content: center;
    text-align: center;
    width: 70%;
    display: flex;
    margin-top: -56px;
    margin-left: 190px;
  }
  
  .menu-suspenso-notas-part2 .list-names-center-notas-part2 .item-1-notas-part2, .item-2-notas-part2, .item-3-notas-part2, .item-4-notas-part2, .item-5-notas-part2 {
    position: relative;
    height: 70%;
    margin-top:8px;
  }
  
  .menu-suspenso-notas-part2 .list-names-center-notas-part2 #mural-menu-notas-part2, #atividades-menu-notas-part2, #materiais-menu-notas-part2, #pessoas-menu-notas-part2, #notas-menu-notas-part2{
  align-items: center;
  display: flex;
  padding: 0.125rem 1.5rem 0 1.5rem;
  position: relative;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bolder;
  color:rgb(128,128,128);
  font-size: 15px;
  }
  
  .menu-suspenso-notas-part2 .list-names-center-notas-part2 #notas-menu-notas-part2{
    color: rgb(32,178,170);
  }

  .menu-suspenso-notas-part2 .logout-notas-part2{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    margin-top: -80px;
  }
  
  .menu-suspenso-notas-part2 .logout-notas-part2 .btn-logout-menu-suspenso-notas-part2{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 12px;
  border: none;
  color:rgb(128,128,128);
  position: relative;
  font-weight: bolder;
  left:1150px;
  }
  
  .navegacao-notas-part2{
    margin:50px auto;
    width: 61%;
    background-color: rgb(255,255,255);
    padding:10px;
    box-shadow: 0px 0px 7px rgb(255,255,255);
    border-radius: 5px;
  }
  
  .navegacao-notas-part2 .notas-part2 .title-notas-part2{
    border-bottom: solid 1px rgb(32,178,170);
    display: flex;
    align-items:baseline;
  }
  .navegacao-notas-part2 .notas-part2 .title-notas-part2 {
    display: flex;
    align-items:baseline;

  }

  .notas-itens-part2 {
    border: solid 1px;
    border-color: rgb(32,178,170);
    background-color: white;
    position:relative;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(255,255,255);
    min-height: auto;
  }

  .notas-itens-part2 .link {
    margin-top: 10px;
  }
  
  .navegacao-notas-part2 .notas-part2 .title-notas-part2 .title-class-notas-part2{
    font-weight: lighter;
    color:rgb(32,178,170);
    display: inline-flex;
    margin-left: 20px;
    font-size: 24px;
  }
  
  .lista-atividades-part2{
    padding: 30px;
    text-align: center;
    color: rgb(128,128,128);
  }

  .itens-notas-01-part2 .itens-notas-02-part2 {
      width:"25%";
      text-align: center;
  }
