*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
  margin: 0;
  background-color: rgb(0, 191, 255);
} 

#todos-coment{
    background: none;
    border: none;
    margin: 7px;
    font-size: 10px;
    color: rgb(32,178,170);
    cursor: pointer;
}
#close-coment{
  background: none;
    border: none;
    margin: 7px;
    font-size: 10px;
    color: rgb(128,128,128);
    cursor: pointer;
}
.btnDelete-mural{
  float: right;
  position: relative;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgb(255,125,125);
  border: none;
  border-radius: 4px;
}

.btnEditar-mural{
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgb(32,178,170);
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  float: right;
}



.navegacao .container-mural{
  background:linear-gradient(rgb(105,105,105),rgb(128,128,128),rgb(169,169,169));
  position:relative;
  width: 63%;
  height: 230px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: rgb(79,79,79);
  padding: 10px;
  box-shadow: 0px 0px 7px rgb(105,105,105);
  top: -30px;
}


.navegacao .container-four{
  background-color: white;
  top:-30px;
  position:relative;
  width:61%;
  max-width: 62%;
  height: 300px;
  max-height: 300px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
  padding: 20px;
  box-shadow: 0px 0px 7px rgb(255,255,255);
  top:-60px;
}

.navegacao .container-mural .text-container-one .nome-turma-mural{
position: relative;
padding: 10px;
color:rgb(255,255,255);
font-weight: lighter;
font-size: 35px;
padding-bottom: 0px;
}

.navegacao .container-mural .text-container-one .codigo{
  position: relative;
  padding-left: 10px;
  color:rgb(255,255,255);
}

.navegacao .container-four .text-comunic{
  color:rgb(79,79,79);
 font-size: 20px;
}

.text-comunic-edit{
  font-size: 15px;
  position: relative;
  color:rgb(79,79,79);
  top:-40px;
}

.menu-suspenso {
background: white;
position: relative;
width: 100%;
height: 85px;
max-height: 85px;
min-height: 85px;
z-index: 1;
}

.menu-suspenso .part1{
  position:relative;
  padding: 20px;
  width: 80px;
  height: 20px;
  left: 35px;
  top: 10px;
  border-radius:50px;
  border:solid 1px rgba(105,105,105,0.4);
}
.menu-suspenso .turmas-menu {
position: relative;
text-decoration: none;
color:rgb(128,128,128) ;
font-size: 16px;
justify-items: center;
font-weight: bolder;

}

.menu-suspenso .list-names-center {
position: relative;
height: 4rem;
justify-content: center;
text-align: center;
width:70%;
display: flex;
margin-top: -56px;
margin-left: 190px;
}

.menu-suspenso .list-names-center .item-1, .item-2, .item-3, .item-4, .item-5{
  position: relative;
  height: 70%;
  margin-top:8px;
}

.menu-suspenso .list-names-center #mural-menu, #atividades-menu, #materiais-menu, #pessoas-menu, #notas-menu{
align-items: center;
display: flex;
padding: 0.125rem 1.5rem 0 1.5rem;
position: relative;
text-decoration: none;
font-size: 0.875rem;
font-weight: bolder;
color:rgb(128,128,128);
font-size: 15px;
}

.menu-suspenso .list-names-center #mural-menu{
  color: rgb(32,178,170);
}
.menu-suspenso .logout-mural{
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  margin-top: -80px;
}

.menu-suspenso .logout-mural .btn-logout-menu-suspenso{
height: 55px;
width: 55px;
border-radius: 50%;
font-size: 12px;
border: none;
color:rgb(128,128,128);
position: relative;
font-weight: bolder;
left:1150px;
}

.navegacao .container-four #descri-postagem{
  position: relative;
  width: 98%;
  height: 170px;
  border: none;  
  background-color: rgba(105,105,105,0.1);
  border-bottom: 1px solid rgb(105,105,105);
}

#descri-postagem-edit{
  position: relative;
  top: -35px;
  width: 97%;
  height: 150px;
  border: none;  
  background-color: rgba(105,105,105,0.1);
  border-bottom: 1px solid rgb(105,105,105);
}

.navegacao .container-four #anexar-doc-mural{
  position: relative;
  margin-top: 10px;
  padding: 10px;
  color: rgb(32,178,170);
  font-weight: bold;
  background-color: rgb(255,255,255);
  border:solid 1px rgba(105,105,105,0.2);
  border-radius: 5px;
  font-size: 14px;
}

.navegacao .container-four #anexar-doc-mural1, #anexar-doc-mural2{
  width: 400px;
}

#dialogo-edit-post{
  width: 790px;
  margin: auto;
  background-color: rgba(255,255,255);
  min-height: 320px;
  z-index: 20;
  border: solid 1px rgba(32,178,200, 0.4);
  height: 410px;
  min-height: 410px;
  max-height: 600px;
  box-shadow:0px 0px 5px rgb(79,79,79);
  border-radius: 5px;
  padding: 10px;
}


.navegacao .container-four #postar-mural{
  position: relative;
  display: flex;
  margin-top: -40px;
  margin-left: 92%;
  padding: 10px;
  color: rgb(255,255,255);
  font-weight: bold;
  background-color: rgb(32,178,170);
  border:solid 1px rgba(105,105,105,0.2);
  border-radius: 5px;
  font-size: 14px;
}

.navegacao .mural-postagens ul{
  margin-top: -40px;
}

.navegacao .mural-postagens li{
  margin-top: -90px;
}

.navegacao .posts-listing{
  background-color: white;
  position:relative;
  width: 64%;
  max-width: 64%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 10px;
  padding: 20px;
  box-shadow: 0px 0px 7px rgb(255,255,255);
  max-height: auto;
  top:-30px;
}

.navegacao .mural-postagens strong{
  color: rgb(128,128,128);
}

.navegacao .mural-postagens .date-time{
  margin-top: 30px;
  font-size: 12px;
}

.navegacao .posts-listing .img{
  display: flex;
}

.navegacao .posts-listing .img img{
  width: 100%;
  max-width: 105px;
  height: 100px;
}

.navegacao .posts-listing .url{
  font-size: 12px;
  padding-top: 20px;
}

.navegacao .mural-postagens p{
  margin-top: 30px;
  font-size: 16px;
}

.scroll-paragraph {
  overflow-y: scroll; height: 250px;
}

.title-editpost{
  color:rgb(32,178,170);
  font-size: 15px;
  font-weight: bold;
}

.anexos-post-edit{
  color:rgb(79,79,79);
  position: relative;
  top: -30px;
  max-height: 200px;
}

#anexar-doc-mural2{
  position: relative;
  top:-30px;
}

#btn-save-edit-post{
  position:relative;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgb(32,178,170);
  border: none;
  border-radius: 4px;
  float: right;
  margin-right: 10px;
}

#btn-cancel-edit-post{
  position: relative;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgb(255,125,125);
  border: none;
  border-radius: 4px;
  float: right;
}

.posts-listing .d4{
  border-top: solid 1px rgba(105,105,105,0.3);
}

.posts-listing .d4 #ent-coment-infopos{
  border-radius: 50px;
  width: 620px;
  max-height: 1000px;
  position: relative;
  outline-style: none;
}

.posts-listing .d4 #btn-postcoment-pos{
border-radius: 50px;
border: solid 1px rgba(128,128,128,0.5);
background-color: rgb(255,255,255);
color:rgb(32,178,170);
font-weight: bolder;
margin-left: 15px;
cursor: pointer;
}

.posts-listing .d4 .listcoment-infopos{
  min-height: 1px;
}

.listcoment-infopos {
  align-items: center;
}

.dialogComment {
  background-color: white;
  position:relative;
  width: 98%;
  border-radius: 10px;
  border: solid 1px #ccc;
  max-height: auto;
}

.div-comment {
  max-height: auto;
}

.dialogComment .div-comment #comments-strong{
  margin-top: 0px;
  color: rgb(128,128,128);
}

.dialogComment .div-comment #comments-paragraph{
  margin-top: 30px;
  font-size: 12px;
}

.dialogComment .div-comment #comments-message{
  margin-top: 15px;
  font-size: 15px;
  word-wrap:break-word;
}

.deleteComment {
  float: right;
  position: relative;

  font-weight: bold;
  color: rgb(255,255,255);
  background-color: rgb(255,125,125);
  border: none;
  border-radius: 4px;
}